<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>User_Login</servlet-name>
        <servlet-class>User_Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>User_login</servlet-name>
        <servlet-class>com.ganare.userManagement.User_login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Admin_login</servlet-name>
        <servlet-class>com.ganare.userManagement.Admin_login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateSongInfo</servlet-name>
        <servlet-class>com.ganare.manageSongs.UpdateSongInfo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddDetails</servlet-name>
        <servlet-class>com.ganare.manageSongs.AddSongs</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadImageFile</servlet-name>
        <servlet-class>com.ganare.manageSongs.UploadImageFile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Add_Songs</servlet-name>
        <servlet-class>com.ganare.manageSongs.Add_Songs</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FileUploader</servlet-name>
        <servlet-class>com.ganare.manageSongs.FileUploader</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Forget_Password</servlet-name>
        <servlet-class>com.ganare.passwordManage.Forget_Password</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Mailer</servlet-name>
        <servlet-class>com.ganare.passwordManage.Mailer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Update_Password</servlet-name>
        <servlet-class>com.ganare.passwordManage.Update_Password</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Registration</servlet-name>
        <servlet-class>com.ganare.userManagement.Registration</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Delete_Songs</servlet-name>
        <servlet-class>com.ganare.manageSongs.Delete_Songs</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Update_Edited_Data</servlet-name>
        <servlet-class>com.ganare.manageSongs.Update_Edited_Data</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Download_Songs</servlet-name>
        <servlet-class>com.ganare.manageSongs.Download_Songs</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>User_Logout</servlet-name>
        <servlet-class>com.ganare.userManagement.User_Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Admin_Logout</servlet-name>
        <servlet-class>com.ganare.userManagement.Admin_Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Home</servlet-name>
        <servlet-class>com.ganare.userManagement.Home</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Admin_Home</servlet-name>
        <servlet-class>com.ganare.userManagement.Admin_Home</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>User_Login</servlet-name>
        <url-pattern>/User_Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>User_login</servlet-name>
        <url-pattern>/User_login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Admin_login</servlet-name>
        <url-pattern>/Admin_login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateSongInfo</servlet-name>
        <url-pattern>/UpdateSongInfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddDetails</servlet-name>
        <url-pattern>/AddDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadImageFile</servlet-name>
        <url-pattern>/UploadImageFile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Add_Songs</servlet-name>
        <url-pattern>/Add_Songs</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FileUploader</servlet-name>
        <url-pattern>/FileUploader</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Forget_Password</servlet-name>
        <url-pattern>/Forget_Password</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Mailer</servlet-name>
        <url-pattern>/Mailer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Update_Password</servlet-name>
        <url-pattern>/Update_Password</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Registration</servlet-name>
        <url-pattern>/Registration</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Delete_Songs</servlet-name>
        <url-pattern>/Delete_Songs</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Update_Edited_Data</servlet-name>
        <url-pattern>/Update_Edited_Data</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Download_Songs</servlet-name>
        <url-pattern>/Download_Songs</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>User_Logout</servlet-name>
        <url-pattern>/User_Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Admin_Logout</servlet-name>
        <url-pattern>/Admin_Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Home</servlet-name>
        <url-pattern>/Home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Admin_Home</servlet-name>
        <url-pattern>/Admin_Home</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
